In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix,classification_report

In [49]:
df =  pd.read_csv("creditcard.csv")
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [51]:
df['V22'] = df['V22'].astype(float,errors ="ignore")

In [52]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [53]:
# normalise the amount column 
df['Amount'] = StandardScaler().fit_transform(np.array(df['Amount']).reshape(-1,1))

In [8]:
df.head()

   Time        V1        V2        V3  ...       V27       V28    Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  0.292214    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724 -0.352595    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  1.297368    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  0.177586    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153 -0.057246    0.0

[5 rows x 31 columns]

In [54]:
# we can drop Time and amount columns
df = df.drop(['Amount','Time'],axis=1)

In [55]:
y = df['Class']

In [56]:
X = df.drop(['Class'],axis=1)

In [57]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =0.3, random_state =0)
print("X_train shape",X_train.shape)
print("X_test",X_test.shape)
print("y_train",y_train.shape)
print("y_test",y_test.shape)

X_train shape (199364, 28)
X_test (85443, 28)
y_train (199364,)
y_test (85443,)

# model fitting before SMOTE

In [58]:
lr = LogisticRegression()

lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [59]:
pred = lr.predict(X_test)

In [60]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     85296
           1       0.89      0.62      0.73       147

    accuracy                           1.00     85443
   macro avg       0.95      0.81      0.87     85443
weighted avg       1.00      1.00      1.00     85443

Applying SMOTE technique

In [64]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state = 2)
X_smote,y_smote = sm.fit_sample(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [69]:
print("After Applying SMOTE", X_smote.shape)
print("After Applying SMOTE", y_smote.shape)

print("Before Applying SMOTE", X_train.shape)
print("Before Applying SMOTE", y_train.shape)

After Applying SMOTE (398038, 28)
After Applying SMOTE (398038,)
Before Applying SMOTE (199364, 28)
Before Applying SMOTE (199364,)

In [79]:
# Class counts display

print("Class counts before smote")
print("Class one -",sum(y_train == 1))
print("Class zero- ",sum(y_train == 0))

print("Class counts after smote")
print("Class one -",sum(y_smote == 1))
print("Class zero- ",sum(y_smote == 0))

Class counts before smote
Class one - 345
Class zero-  199019
Class counts after smote
Class one - 199019
Class zero-  199019

In [81]:
# model fitting after smote 
lr1 = LogisticRegression()
lr1.fit(X_smote,y_smote)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [82]:
pred = lr1.predict(X_test)

In [83]:
# Classification report after smote

print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      0.98      0.99     85296
           1       0.06      0.92      0.11       147

    accuracy                           0.98     85443
   macro avg       0.53      0.95      0.55     85443
weighted avg       1.00      0.98      0.99     85443

Donâ€™t put synthetic data in your testing data!
We want to implement our model on live data, so we want to see how our model will perform on real data and not the synthetic data that we have created. This means that we can only add the synthetic data to the training set.